.landing-page-container {
    width: 1000px;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: red; */
    text-align: justify;
  }
  
  .landing-page-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .landing-page-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .landing-page-content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }